name: Test discrord notification
on:
  # Allow manual trigger from GitHub Actions UI
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  sync-metadata:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Notify Discord
        if: always()
        uses: nebularg/actions-discord-webhook@v1
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          status: ${{ job.status }}
