name: Test discrord notification
on:
  # Allow manual trigger from GitHub Actions UI
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  sync-metadata:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Discord notification
        env:
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        uses: Ilshidur/action-discord@master
        with:
            args: 'The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed.'